<!DOCTYPE html>
<html>
	<head>
  		<title>SABR</title>
		<link rel="stylesheet" href="/style/style.css">
	</head>

	<body>
		<a href="http://github.com/dbunker/SABR"><img class="git" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

		<div class="mid">
			<ul class="navbar">
                <li><div class="litop"><div class="litop_in"><div class="li"><a href="/">About</a></div></div></div></li>
                <li><div class="litop"><div class="litop_in"><div class="li"><a href="/started/">Getting Started</a></div></div></div></li>
                <li><div class="litop"><div class="litop_in"><div class="li"><a href="/river/">Examples</a></div></div></div></li>
                <li><div class="litop"><div class="litop_in"><div class="li"><a href="https://github.com/dbunker/SABR">Download</a></div></div></div></li>
                <li><div class="litop"><div class="litop_in"><div class="li"><a href="http://dbunker.github.io/blog/2011/07/28/sabr-faq/">FAQ</a></div></div></div></li>
			</ul>

			<div class="main">
				<a href="/"><img src="/img/logo.jpg" alt="logo" width="460" height="73"/></a>

				{{ content }}

				<br><br><br><br>
			</div>
		</div>
	</body>
</html>
